.App {
	text-align: center;
}

.Toolbar {
	font-family: 'Times New Roman', Times, serif;
	padding: 5px;
	margin: 0px;
	background-color: black;
	color: aliceblue;
	width: inherit;
	height: 100px;
}

.ToolbarItem {
	float: left;
	padding: 5px;
}

.bars {
	margin-top: 100px;
}
